
.text-piece {
	width: 50px;
	display: inline-block;
	margin: 2px;
	padding: 6px;
}

    .action-btn {
    	
padding: 2px 1px;
/*border-radius: 4px;
background-color: #4F8EF7;*/
color: white;
    }

    .action-btn strong {
	font-size: 22px;
}

    .btn {
display: inline-block;
padding: 2px 1px;
border: 2px solid #4F8EF7;
border-radius: 4px;
background-color: white;
color: #4F8EF7;
width: 60px;
text-align: center;
/*opacity: 0.7;
transition: opacity 0.1s ease-in-out 0s;
width: 196px;
font: normal normal bold normal 12px/13px 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}


/*
red:
outer = rgb(255,85,97);
  gradient inwards to rgb(255,171,134); or 255, 154, 138? 
  more like 255, 177, 162
  red pieces: rgb(247, 0, 0);
  dots: rgb(255,82,69);

yellow
gradient
outer: rgb(254, 189,60)
inner rgb(248,224,120);
piece: rgb(255,157,0);
dot: rgb(254, 201, 57);

blue
outer: rgb(0,139,224); or 0 120 172 or 0 125 205
inner: rgb(7,190,236);
dot: rgb(1, 136,199) 0, 133, 202
piece: 0 127 212, or 2, 124, 220


green
outer: rgb(0, 178, 118)
inner: rgb(90,197,140)
dot: 0,164,94
piece: 0 148 90


orange: 255, 131, 19
orange: 255, 139, 35
lime: 132, 186, 41);
purple: 189, 86, 159
pink: 255, 104, 168
pink: 255, 113, 166
blue: 11, 191, 255
blue: 37,193, 255
*/


.piece { 
  padding: 10px;
  margin: 0px;
  display: inline-block;
  position: relative;
}
.piece div {
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: -1.5px;
  
  border: 1px solid black;
  background-color: #efefef;
}

.piece div:nth-child(6n-1) {
    background: #dddded;
}

/* or div .filled? this is funky does NOT WORK WITH .piece div:nth-child 
okay and JUST .filled wasnt working but couldnt tell for longest time*/
div:nth-child(6n-1) .filled,
div .filled {
  background-color: teal;
}


/*
Example

Using a formula (an + b). Description: a represents a cycle size, n is a counter (starts at 0), and b is an offset value.

Here, we specify a background color for all p elements whose index is a multiple of 3:
3n + 0

the brs count as elements maybe?
.piece div:nth-child(5) {}

*/





/*
http://jsfiddle.net/marcuswhybrow/YMN7U/5/
li:nth-child(4) { clear: left; }

http://jsfiddle.net/dWkdp/
li:nth-child(3):after { content:"\A"; white-space:pre; }




<!DOCTYPE html>
<html>
<head>
<title>HTML5, CSS3 and JavaScript demo</title>
</head>
<body>
<!-- Start your code here -->
  
  BLACK DIAMOND &#x25C6; &#x25A0; 
  
  <br/>
  
  BOX DRAWINGS LIGHT DIAGONAL CROSS &#x2573;
  <br/>
  
  MULTIPLICATION X &#x2715; <br/>
	 	
 purple -  HEAVY MULTIPLICATION X &#x2716; <br/>
  
  bright blue -  SIX POINTED BLACK STAR &#x2736;
  <br/>
orange -  BLACK UP-POINTING TRIANGLE &#x25B2; 
  <br/>
  BLACK MEDIUM SQUARE &#x25FC;
<br/>
  green - BLACK MEDIUM DIAMOND &#x2b25;
 <br/>
  pink circle
<p class="lw">Hello Weaver!</p>

<!-- End your code here -->
</body>
</html>
*/